
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link link rel="stylesheet" href="CssHonda.css">
    <link rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="" type="text/css"> 
    <title>Document</title>
</head>
<body>
    <div class="bbutton">
        <form method="post">
            {% csrf_token %}
            Потвердите удаление машины
            <input type="submit" value="Да">
            <a href="/"> Нет </a>
        </form>
    </div>
</body>